<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  
  <%- include('header.ejs')%>
  <%- include('nav.ejs')%>
  <h1>Apply For Jobs</h1>

  <% jobs.forEach(function(e){ %>

    <div class="nav2">
      <p><%= e.title %></p>
    <p><%= e.description %></p>
    <p><%= e.place %></p>
   <p> <%= e.salary %></p>
   <p> <%= e.experience %></p>
    <p><%= e.designation %></p>
    <p><%= e.applicants %></p>
    <p><%= e.jobtype %></p>
    <p><%= e.openingdate %></p>
    <p><%= e.closingdate%></p>
    
    </div>
    <div class="b">
      <button>Apply Here</button>
    </div>


   <% }) %>



  <%- include('footer.ejs')%>
</body>
</html>